.blogpost-wrapper {
    width: 100%;
    margin: -1.5em auto 0 auto;
    z-index: 1;
}

.blogpost-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;

    img {
        max-width: 100%;
        margin-bottom: 1em;
    }

    .blog-desc {
        width: 100%;

        * {
            margin-bottom: .4em;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .blog-link {
        width: 50%;
        margin-top: 1em;
    }

    .blog-spacer {
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
        opacity: .1;
        height: 1px;
        border: none;
    }
}

@media only screen and (min-width: 1024px) {
    .blogpost-listing {
        display: block;
    }

    .blog-contents {
        display: flex;
        flex-direction: row;
        max-width: 80%;
        margin: 0 auto;

        .blog-image-wrap {
            max-width: 40%;
            margin-right: 5%;

            img {
                width: 100%;
                margin-bottom: 0;
            }
        }

        .blog-info-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 55%;
        }
    }
}