// Home & About Animations

.home-content>*,
.about-content>* {
    filter: blur(5px);
    opacity: 0;
    transition: all;
    transform: translateX(-10%);

    &.animate-show {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
    }

    &:nth-child(1) {
        transition: all 1s 100ms;
    }

    &:nth-child(2) {
        transition: all 1s 300ms;
    }

    &:nth-child(3) {
        transition: all 1s 500ms;
    }
}

// Content Animation
.content-wrap>.hero-headline {
    filter: blur(5px);
    opacity: 0;
    transition: all 1s;
    transform: translateX(-10%);

    &.animate-show {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
    }
}

.post-wrapper>* {
    filter: blur(5px);
    opacity: 0;
    transition: all 1s 600ms;
    transform: translateX(-10%);

    &.animate-show {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
    }
}





// Post Animations
.post-listing {
    filter: blur(5px);
    opacity: 0;
    transition: all 1s 100ms;

    &.animate-show {
        filter: blur(0);
        opacity: 1;
    }

    &:nth-child(1) {
        transition: all 1s 100ms;
    }

    &:nth-child(2) {
        transition: all 1s 300ms;
    }

    &:nth-child(3) {
        transition: all 1s 500ms;
    }

    &:nth-child(4) {
        transition: all 1s 700ms;
    }

    &:nth-child(5) {
        transition: all 1s 900ms;
    }
}

// Global Transition for element

button,
a {
    transition: all .3s;
}