.post-wrapper {
    width: 100%;
    margin: -1.5em auto 0 auto;
    z-index: 1;
}

.post-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
    opacity: 0;

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-bottom: 1em;
    }

    .post-desc {
        width: 100%;

        * {
            margin-bottom: .4em;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .post-link {
        width: 50%;
        margin-top: 1em;
    }

    .post-spacer {
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
        opacity: .1;
        height: 1px;
        border: none;
    }
}

.is-single-post .post-image-wrap {
    margin-bottom: -2.5em;
}

@media only screen and (min-width: 1024px) {
    .post-listing {
        display: block;
        position: relative;
    }

    .post-contents {
        display: flex;
        flex-direction: row;
        max-width: 80%;
        margin: 0 auto;

        .post-image-wrap {
            max-width: 40%;
            margin-right: 5%;

            img {
                width: 100%;
                margin-bottom: 0;
            }
        }

        .post-info-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 55%;
        }
    }

    .is-single-post {
        h1 {
            font-size: 5.5em;
        }

        .post-wrapper {

            .post-listing {
                .post-image-wrap {
                    width: 30%;
                    float: right;
                    position: absolute;
                    top: 4.5em;
                    right: 0;
                    z-index: 0;
                }

                .post-desc {
                    position: relative;
                    z-index: 1;

                    p {
                        max-width: 70%;
                    }
                }
            }
        }
    }
}