.is-portfolio-post {
    h1 {
        width: 70%;
        margin: -1em 0 0 0;
    }

    p {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 1024px) {
    .is-portfolio-post {
        h1 {
            font-size: 5.5em;
        }

        .portfolio-wrapper {

            .portfolio-listing {
                .portfolio-image-wrap {
                    width: 30%;
                    float: right;
                    position: absolute;
                    top: 3em;
                    right: 0;
                    z-index: 0;
                }

                .portfolio-desc {
                    position: relative;
                    z-index: 1;

                    p {
                        max-width: 75%;
                    }
                }
            }
        }
    }
}