.post-listing {
    filter: blur(5px);
    opacity: 0;
    transition: all 1s;

    &.animate-show {
        filter: blur(0);
        opacity: 1;
    }

    &.visible {
        filter: blur(0);
        opacity: 1;
    }
}