/* Dark Mode */

// Background

body {
    background: linear-gradient(60deg, rgba(14, 14, 14, 1) 0%, rgba(16, 16, 16, 1) 43%, rgba(14, 14, 14, 1) 43%, rgba(16, 16, 16, 1) 100%);
}

// Text Color

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    color: $binder-light;
}

// Icon Hover
i:hover {
    color: $binder-primary;
}

// Link Hover
a:hover {
    color: $binder-primary;
}

// Button 

button {
    background-color: $binder-primary;

    &:hover {
        background-color: $binder-light;
    }
}

// Navbar Background Color (Touch)
#navbar {
    background-color: $binder-primary;
}

// Navicon (Touch)
.icon--toggle-menu.open {
    background: $binder-dark;
}

// Footer HR

hr {
    border: 1px solid $binder-light;
}









/* Light Mode */

body.is-light {
    // Background
    background: linear-gradient(60deg, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 1) 43%, rgba(234, 234, 234, 1) 43%, rgba(234, 234, 234, 1) 100%);

    // Text Color

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a {
        color: $binder-dark;
    }

    // Icon Hover
    i {
        color: $binder-dark;
    }

    i:hover {
        color: $binder-primary;
    }

    // Link Hover
    a:hover {
        color: $binder-primary;
    }

    // Button 

    button {
        background-color: $binder-primary;

        &:hover {
            color: $binder-light;
            background-color: $binder-dark;
        }
    }

    // Navbar Background Color (Touch)
    #navbar {
        background-color: $binder-primary;
    }

    // Navicon (Touch)
    .icon--toggle-menu.open {
        background: $binder-light;
    }

    // Footer HR

    hr {
        border: 1px solid $binder-dark;
    }
}