// FONT DEFINITIONS

@media only screen and (min-width: 375px) {
    h1.hero-headline {
        line-height: .9;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

h1.hero-headline {
    font-size: 7em;
}

p.hero-paragraph {
    font-size: 1.5em;
}

button {
    font-family: 'Roboto', sans-serif;
}