* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(60deg, rgba(14, 14, 14, 1) 0%, rgba(16, 16, 16, 1) 43%, rgba(14, 14, 14, 1) 43%, rgba(16, 16, 16, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

// Iconfont definition

i {
    width: 1em;
    height: 1em;
}

// Button Definition

button {
    background-color: $binder-yellow;
    border: none;
    font-weight: 500;
    font-size: 1em;
    min-width: 13em;
    padding: .75em;

    &:hover {
        background-color: $binder-white;
    }
}

.App {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 100vh;
}

@media only screen and (min-width: 1024px) {
    .App {
        margin: 0 auto;
        max-width: 65%;
    }
}