* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    &.nav-open {
        overflow: hidden;
    }
}

// Iconfont definition

i {
    width: 1em;
    height: 1em;
}

// Button Definition

button {

    border: none;
    font-weight: 500;
    font-size: 1em;
    min-width: 13em;
    padding: .75em;
    width: 100%;
}

.App {
    position: relative;
    display: block;
    min-height: 100vh;
}

@media only screen and (min-width: 1024px) {
    .App {
        margin: 0 auto;
        max-width: 65%;
        min-width: 65%;
    }
}