// Variables

// COLORS
$binder-black: #0e0e0e;
$binder-white: #eaeaea;
$binder-yellow: #eecc00;

// SVG Filter Classes

.svg--filter-black {
    filter: invert(0%) sepia(79%) saturate(1491%) hue-rotate(108deg) brightness(56%) contrast(89%);
}

.svg--filter-white {
    filter: invert(99%) sepia(3%) saturate(374%) hue-rotate(201deg) brightness(117%) contrast(84%);
}

.svg--filter-yellow {
    filter: invert(81%) sepia(75%) saturate(2820%) hue-rotate(0deg) brightness(93%) contrast(106%);
}