footer {
    width: 100%;

    .links-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .75em 0;

        .social-wrap {
            i {
                font-size: 22px;
                margin-right: .5em;
            }
        }
    }

    &.is-absolute {
        position: absolute;
        bottom: 0;
    }
}