footer {
    width: 100%;
    position: absolute;
    bottom: 0;

    hr {
        width: 80%;
        margin: 0 auto;
    }

    .links-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: .75em auto;

        .social-wrap {
            i {
                font-size: 22px;
                margin-right: .5em;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    footer {
        width: 100%;

    }
}