header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    justify-content: space-around;

    #image--logo {
        transition: 0.2s;
        z-index: 4;
    }

}

#navbar {
    transition: left .2s cubic-bezier(0, 0, 0.72, 0.33);

    &.collapsed {
        display: block;
        position: absolute;
        height: 100vh;
        top: 0;
        left: -100%;
        z-index: 1;

        &.show {
            display: block;
            position: absolute;
            left: 0;
            width: 83%;
            height: 101vh;
            top: 0;
            z-index: 3;
        }
    }

    ul {
        display: flex;
        width: 80%;
        margin: 120px auto 0 auto;
        flex-direction: column;
        list-style-type: none;

        li {
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            padding: 10px;
            margin-bottom: 0.7em;

            &.is--active {
                font-weight: bold;
            }

        }

        a {
            position: relative;

            &.active {
                font-weight: 600;
            }

            &.active::after {
                position: absolute;
                top: 12px;
                margin-left: auto;
                margin-right: auto;
                left: -7px;
                right: 0;
                text-align: center;
                content: url(../../../public/images/uline-black.svg);
            }
        }
    }
}

.theme-toggle {
    position: absolute;
    right: 2em;
}

@media only screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2em;
        justify-content: space-around;

        .navigation-wrapper {
            width: 40%;

            button.icon--toggle-menu {
                display: none;
            }

            #navbar {

                &.collapsed {
                    display: block;
                    position: initial;
                    background: none;
                    height: auto;
                    z-index: 1;
                }

                nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        list-style-type: none;
                        width: 100%;
                        margin: 0;

                        li {
                            min-width: 25%;
                            text-align: center;
                            border: none;
                        }
                    }

                    a {
                        display: block;
                        position: relative;
                        font-size: 1em;
                        text-decoration: none;
                        cursor: pointer;

                        &.active::after {
                            position: absolute;
                            top: 12px;
                            left: 18%;
                            margin-left: -3px;
                            content: url(../../../public/images/uline.svg);
                        }
                    }
                }
            }
        }
    }
}